<nav class="navbar">
  <div class="title">
    <h1><a routerLink="home">eatz</a></h1>
  </div>
  <div class="mid-items">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/offers" routerLinkActive="active">Offers</a>
      </li>
      <li>
        <a routerLink="/restaurant" routerLinkActive="active">Restaurants</a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active">Account</a>
      </li>
    </ul>
  </div>
  <div class="end-items">
    <p>Cart</p>
  </div>
</nav>
