<nav class="navbar">
  <div class="title">
    <h1><a routerLink="home" [queryParams]="{ type: type }">{{ navConst?.title }}</a></h1>
  </div>
  <div class="mid-items" [ngStyle]="{ width: isUser ? '' : '35%' }">
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [queryParams]="{ type: type }"
          >{{ navConst?.home }}</a
        >
      </li>
      <li>
        <a
          routerLink="/offers"
          routerLinkActive="active"
          [queryParams]="{ type: type }"
          >{{ navConst?.offers }}</a
        >
      </li>
      <li>
        <a
          routerLink="/restaurant"
          routerLinkActive="active"
          [queryParams]="{ type: type }"
          >{{ navConst?.restaurant }}</a
        >
      </li>
      <li *ngIf="isUser">
        <a
          routerLink="/orders"
          routerLinkActive="active"
          [queryParams]="{ type: type }"
          >{{ navConst?.orders }}</a
        >
      </li>
      <li>
        <a
          routerLink="/account"
          routerLinkActive="active"
          [queryParams]="{ type: type }"
          >{{ navConst?.account }}</a
        >
      </li>
    </ul>
  </div>
  <div class="end-items" [ngStyle]="{ width: isUser ? '' : '42%' }">
    <ul>
      <li *ngIf="type" class="drop-down">
        <a (click)="onViewCart()"
          >{{ navConst?.cart }}
          <sup class="count" *ngIf="cartCount > 0"
            >&nbsp;{{ cartCount }}&nbsp;</sup
          >
          <img
            class="carot-down"
            src="../../../../assets/icons/caret-down-solid-white.svg"
          />
        </a>

        <div class="drop-down-box" *ngIf="isCartClicked">
          <div *ngFor="let data of cartDetails">
            <p class="li-item">{{ data?.name }}</p>
          </div>
        </div>
      </li>
      <li *ngIf="type">
        <a style="cursor: pointer" (click)="onLogout()">{{ navConst?.logout }}</a>
      </li>
    </ul>
  </div>
</nav>
