<nav class="navbar">
  <div class="title">
    <h1><a
      routerLink="home"
      [queryParams]="{'type': type}">eatz</a></h1>
  </div>
  <div class="mid-items"
    [ngStyle]="{width: isUser ? '' : '35%'}">
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [queryParams]="{'type': type}">Home</a>
      </li>
      <li>
        <a
          routerLink="/offers"
          routerLinkActive="active"
          [queryParams]="{'type': type}">Offers</a>
      </li>
      <li>
        <a
          routerLink="/restaurant"
          routerLinkActive="active"
          [queryParams]="{'type': type}">Restaurants</a>
      </li>
      <li *ngIf="isUser">
        <a
          routerLink="/orders"
          routerLinkActive="active"
          [queryParams]="{'type': type}">Orders</a>
      </li>
      <li>
        <a
          routerLink="/account"
          routerLinkActive="active"
          [queryParams]="{'type': type}">Account</a>
      </li>
    </ul>
  </div>
  <div class="end-items"
    [ngStyle]="{width: isUser ? '' : '42%'}">
    <ul>
      <li *ngIf="type">
        <a href="#">Cart</a>
      </li>
      <li *ngIf="type">
        <a routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
