<div class="list-section">
  <div
    class="list-items"
    *ngFor="let data of offers"
    [ngClass]="!data?.available ? 'not-available' : ''"
  >
    <div>
      <img [src]="imgUrl + data.cloudinaryImageId" alt="" />
    </div>
    <div class="price-section">
      <div>
        <p>{{ data?.name }}</p>
        <p class="dark-txt">{{ data?.restaurant }}</p>
        <p class="discount-txt">
          {{ gridConst?.delivery_in }} {{ data?.deliveryTimeInMins }} {{ gridConst?.mins }}
        </p>
      </div>
      <div>
        <p class="cost-price-txt">{{ data?.price?.costPrice }}</p>
        <p class="discount-price-txt">{{ data?.price?.discountPrice }}</p>
        <button
          class="see-more-btn"
          *ngIf="urlpath !== 'HomeComponent'"
          (click)="addToCart(data)"
        >
          {{ gridConst?.addtocart }}
        </button>
      </div>
    </div>
  </div>
</div>
