<div class="container">
  <section class="top">
    <div class="top-wrapper">
      <div class="top-start">
        <div>
          <div>
            <p class="txt-one">Food</p>
          </div>
          <div>
            <p class="txt-two">Discover Restaurants</p>
          </div>
          <div>
            <p class="txt-two">& Delicious Food</p>
          </div>
        </div>
        <div class="auto-com" style="margin: 3rem 0 !important;">
          <app-searchbox [suggestions]="restuarantDetail" (sendRestuarentName)="onReceiveRestaurantName($event)"></app-searchbox>
        </div>
      </div>
      <div class="top-end">
        <img src="../../assets/images/LoginImage.png" alt="">
      </div>
    </div>
    <div class="location">
      <div>
        <img src="../../assets/icons/location-dot-solid.svg" alt="">
      </div>
      <div>
        <p>{{ geoLocation?.country_name }}</p>
      </div>
    </div>
  </section>

  <section class="bottom">
    <div class="bottom-wrapper">
      <div class="content">
        <div class="align-center">
          <span class="red-block"></span>
        </div>
        <div class="align-center">
          <p class="ad-booking-txt">advance booking</p>
        </div>
        <div class="auto-com">
          <app-searchbox [suggestions]="restuarantDetail" (sendRestuarentName)="onReceiveRestaurantName($event)"></app-searchbox>
        </div>
        <div class="align-evenly">
          <div>
            <p class="txt-strong">Date</p>
            <input class="txt-light custom-date-picker" type="date">
          </div>
          <div>
            <p class="txt-strong">Time</p>
            <input type="time" class="txt-light custom-date-picker" name="" id="">
          </div>
          <div>
            <p class="txt-strong">Guests</p>
            <p class="txt-light">2peoples</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offer-fluid">
    <div class="offer-title">
      <p>Explore Our Food</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
      <p>tempor invidunt ut labore et dolore magna</p>
    </div>
    <app-offer-grid></app-offer-grid>
  </section>
  <footer>
    <span>&#169; <small class="small-txt">2022 Indianpix</small></span>
    <div>
      <div class="icons">
        <img src="../../assets/icons/facebook.svg" alt="">
      </div>
      <div class="icons">
        <img src="../../assets/icons/linkedin.svg" alt="">
      </div>
      <div class="icons">
        <img src="../../assets/icons/twitter.svg" alt="">
      </div>
      <div class="icons">
        <img src="../../assets/icons/youtube.svg" alt="">
      </div>
      &#169;&nbsp;<small class="small-txt"> 2022 Indianpix</small>
    </div>
  </footer>
</div>
<!-- <div class="spinner">
  <div class="lds-ripple"><div></div><div></div></div>
</div> -->

