<div class="container">
  <!-- Top Section -->
  <section class="top">
    <div class="top-wrapper">
      <div class="top-start">
        <div>
          <div>
            <p class="txt-one">{{ homeConst?.food }}</p>
          </div>
          <div>
            <p class="txt-two">{{ homeConst?.discover_restaurants }}</p>
          </div>
          <div>
            <p class="txt-two">{{ homeConst?.delicious_food }}</p>
          </div>
        </div>
        <div class="auto-com" style="margin: 3rem 0 !important">
          <app-searchbox
            [suggestions]="restuarantDetail"
            (sendRestuarentName)="onReceiveRestaurantName($event)"
          ></app-searchbox>
        </div>
      </div>
      <div class="top-end">
        <img src="../../assets/images/LoginImage.png" alt="" />
      </div>
    </div>
    <div class="location">
      <div>
        <img src="../../assets/icons/location-dot-solid.svg" alt="" />
      </div>
      <div>
        <p>{{ geoLocation?.country_name }}</p>
      </div>
    </div>
  </section>

  <!-- Middle Section -->
  <section class="bottom">
    <div class="bottom-wrapper">
      <div class="content">
        <div class="align-center">
          <span class="red-block"></span>
        </div>
        <div class="align-center">
          <p class="ad-booking-txt">{{ homeConst?.advance_booking }}</p>
        </div>
        <div class="auto-com">
          <app-searchbox
            [suggestions]="restuarantDetail"
            (sendRestuarentName)="onReceiveRestaurantName($event)"
          ></app-searchbox>
        </div>
        <div class="align-evenly">
          <div>
            <p class="txt-strong">{{ homeConst?.date }}</p>
            <input class="txt-light custom-date-picker" type="date" />
          </div>
          <div>
            <p class="txt-strong">{{ homeConst?.time }}</p>
            <input
              type="time"
              class="txt-light custom-date-picker"
              name=""
              id=""
            />
          </div>
          <div>
            <p class="txt-strong">{{ homeConst?.guests }}</p>
            <p class="txt-light">{{ homeConst?.people }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Offers Section -->
  <section class="offer-fluid">
    <div class="offer-title">
      <p>{{ homeConst?.explore_our_food }}</p>
      <p>{{ homeConst?.text_one }}</p>
      <p>{{ homeConst?.text_two }}</p>
    </div>
    <app-offer-grid></app-offer-grid>
  </section>
  <footer>
    <span>&#169; <small class="small-txt">{{ homeConst?.copy_right }}</small></span>
    <div>
      <div class="icons">
        <img src="../../assets/icons/facebook.svg" alt="" />
      </div>
      <div class="icons">
        <img src="../../assets/icons/linkedin.svg" alt="" />
      </div>
      <div class="icons">
        <img src="../../assets/icons/twitter.svg" alt="" />
      </div>
      <div class="icons">
        <img src="../../assets/icons/youtube.svg" alt="" />
      </div>
      &#169;&nbsp;<small class="small-txt"> {{ homeConst?.copy_right }}</small>
    </div>
  </footer>
</div>
