<div class="container">
  <section class="top">
    <div class="top-wrapper">
      <div class="top-start">
        <div>
          <div>
            <p class="txt-one">Food</p>
          </div>
          <div>
            <p class="txt-two">Discover Restaurants</p>
          </div>
          <div>
            <p class="txt-two">& Delicious Food</p>
          </div>
        </div>
        <div>
          <form class="search-wrapper">
            <input type="text" placeholder="Search Restaurants">
            <button type="button">GO</button>
          </form>
        </div>
      </div>
      <div class="top-end">
        <img src="../../assets/images/LoginImage.png" alt="">
      </div>
    </div>
    <div class="location">
      <div>
        <img src="../../assets/icons/location-dot-solid.svg" alt="">
      </div>
      <div>
        <p>Chennai</p>
      </div>
    </div>
  </section>

  <section class="bottom">
    <div class="bottom-wrapper">
      <div class="content">
        <div class="align-center">
          <span class="red-block"></span>
        </div>
        <div class="align-center">
          <p class="ad-booking-txt">advance booking</p>
        </div>
        <div>
          <form class="search-wrapper-bottom">
            <input type="text" placeholder="Search Restaurants">
            <button type="button">GO</button>
          </form>
        </div>
        <div class="align-evenly">
          <div>
            <p class="txt-strong">Date</p>
            <p class="txt-light">12-12-12</p>
          </div>
          <div>
            <p class="txt-strong">Time</p>
            <p class="txt-light">12:12:12</p>
          </div>
          <div>
            <p class="txt-strong">Guests</p>
            <p class="txt-light">2peoples</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
