@import "../shared/scss/utilities";

.container {
  background-color: $secondary;
  height: 92.2vh;

  .row {
    display: $d-flex;

    .column-1 {
      width: $w-5 * 13;
      margin: $w-6;

      img {
        width: $w-10 * 10;
      }
    }

    .column-2 {
      width: $w-5 * 7;
      margin: $w-6 $w-2;

      h2 {
        font-family: "Poppins-medium";
        font-size: $rem-1 + $rem-p8;
        letter-spacing: $px-2;
        color: $navy;
      }

      .ip {
        margin: $rem-1 0;
        padding: 0 $rem-p5;
        @include getInputStyle($w-7 * 10, $rem-3);
      }

      .ip::placeholder {
        @include getPlaceHolderStyle();
      }

      .ip:focus {
        outline: 1px solid lightgrey;
      }

      .login-btn {
        margin: $rem-1 0;
        font-family: "Poppins-medium";
        letter-spacing: $px-2;
        @include getBtnStyle(($w-10 * 7) + $w-3, $rem-3);
      }

      .disabled-btn {
        background-color: $disabled;
      }

      .err {
        border: 1.5px solid $red;
      }

      .err::placeholder {
        color: $red;
      }
    }
  }
}

.url {
  text-decoration: none;
  color: $navy;
  cursor: pointer;
}
