<div class="container">
  <div class="row">
    <div class="column-1">
      <img src="../../assets/images/LoginImage.png" alt="">
    </div>
    <div class="column-2">
      <h2>Login into Eatz</h2>
      <form>
        <div>
          <input type="text" class="ip" placeholder="Username">
        </div>
        <div>
          <input type="password" class="ip" placeholder="Password">
        </div>
        <div>
          <input type="submit" class="login-btn" value="login">
        </div>
      </form>
      <div>
        <small><a>Login as a Guest</a></small>
      </div>
    </div>
  </div>
</div>
